header {
    background-image: url(images/header5.jpg);
    width: 960px;
    height: 277px;
    margin: 0px auto;
    padding-bottom: 50px;
}

section {
    /*width: 960px;
    margin: 0px auto;
    padding-left: 100px;
    padding-right: 100px;*/
}


/* Title and Animation */

ul {
    list-style: none;
    text-align: center;
    padding-left: 0px;
    padding-right: 60px;
    padding-top: 115px;   
}

li {
    display: inline;
    font-size: 54px;
    font-family: 'helvetica', sans-serif;
    font-weight: 100;
}

span.hand {
    position: relative;
    top: 5px;
    font-family: 'SignPainter', cursive;
    font-size: 80px;
    font-weight: 500;
    -webkit-animation-name: hand;
    -webkit-animation-duration: 5s;
    animation-name: hand;
    animation-duration: 5s;
}

/* Safari 4.0-8.0 */
@-webkit-keyframes hand {
    0% {color:#FFFFFF; top:-200px; left:485px;}
    100% {color:#000000; top:5px; left: 485px;}
}

/* Standard syntax */
@keyframes hand {
    0% {color:#FFFFFF; top:-200px; left:0px;}
    100% {color:#000000; top:5px; left: 0px;}
}


/* Table Properties for body text */

table {
    text-align: left;
}

td.number {
    font-family: 'Futura', sans-serif;
    font-weight: 500;
    font-size: 40px;
    padding-top: 50px;
}

td {
    font-family: 'Courier New', sans-serif;
    font-weight: 100;
    font-size: 40px;
}

div.gif, div.iframe, div.mp3, div.gif, div.video, div.gif2 {
    display: flex;
    padding-bottom: 50px;
    width: 960px;
    margin: 0px auto;
}

div.column {
    flex: 50%;
    height: 200px;
}

.left {
    padding-left: 145px;
    padding-right: 10px;
}

.right {
    padding-right: 115px;
    padding-left: 150px;
}


/* iframe */

.tools {
    font-size: 15px;
    width: 270px;
    padding-top: 10px;
}

iframe {
    border: 0px;
    padding-top: 20px;
}

a {
    color: #BE3144;
}

a:hover {
    color: #000000;
}

/* gif2 */

.gif2 {
    padding-top: 25px;
}

/* music */

.music {
    padding-top: 60px;
}

/* footer */

footer {
    text-align: center;
    padding-bottom: 25px;
    margin-right: 165px;
    min-width: 960px;
}

a.validators {
    text-decoration: none;
}